@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  margin: 0px 0px 24px 0px;
}

.subtitle {
  font-style: italic;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding: 0px 0px 24px 0px;
  line-height: 1.2;
}
.subtitle span {
  text-decoration: underline;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.text p {
  margin: 0px 0px 15px 0px;
}

.name-list {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 28px;
  font-weight: 500;
}

.list li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1;
  position: relative;
  padding: 7px 0px 7px 30px;
}
.list li:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #DDAB53;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  left: 0;
}
.list li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  border-top: 5px solid transparent;
  border-left: 10px solid #DDAB53;
  border-bottom: 5px solid transparent;
}

.attention {
  margin: 0px 0px 15px 0px;
}
.attention span {
  background-color: #ffeda6;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  line-height: 28px;
}

.propouse {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 28px;
  font-weight: 500;
}

.page {
  padding: 20px 0px;
  max-width: 910px;
  padding: 20px 15px;
  margin: 40px auto 0px auto;
}
.page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .page__row {
    display: block;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 40px;
}
@media (max-width: 768px) {
  .main {
    padding: 0px 0px 0px 0px;
  }
}

.secondary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 165px;
          flex: 0 0 165px;
}
.secondary__image {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  border: 5px solid #DDAB53;
  overflow: hidden;
}
.secondary__image img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .secondary__image_s {
    margin: 0px auto;
  }
}
.secondary__author {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 10px 0px 40px 0px;
}
@media (max-width: 768px) {
  .secondary {
    display: none;
  }
}
.secondary_s {
  display: none;
}
@media (max-width: 768px) {
  .secondary_s {
    display: block;
  }
}

.main__list-name {
  margin: 0px 0px 15px 0px;
}
.main__list-name_s {
  margin: 25px 0 15px;
}
.main__list_s li:last-child:before, .main__list_s li:last-child:after {
  top: 25%;
}

.main__subtitle_s {
  margin: 35px 0px;
  border: 5px solid #DDAB53;
  padding: 20px;
}
@media (max-width: 450px) {
  .main__subtitle_s {
    font-size: 20px;
    padding: 12px;
  }
}
.main__attention {
  margin: 50px 0px;
}
.main__propouse {
  margin: 0px 0px 20px 0px;
}
.main__numlist {
  counter-reset: myCounter;
}
.main__numlist li {
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
  list-style: none;
  position: relative;
  padding: 0px 0px 0px 45px;
}
.main__numlist li span {
  font-size: 24px;
  position: relative;
  padding: 0px 0px 0px 10px;
}
.main__numlist li span:after {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  background-color: red;
  left: 0%;
  top: 50%;
}
.main__numlist li s {
  font-size: 25px;
  margin: 0px 0px 0px 2px;
}
.main__numlist li:before {
  content: "";
  position: absolute;
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  background-color: #DDAB53;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  left: 0;
  line-height: 30px;
  width: 30px;
  height: 30px;
}
.main__btn {
  background-color: #b99a5d;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 20px;
  width: 100%;
  text-align: center;
  display: block;
  margin: 50px 0px;
  color: #fff;
  font-size: 20px;
}
.main__btn:hover {
  background-color: #ff9900;
  text-decoration: underline;
}
@media (max-width: 350px) {
  .main__btn {
    padding: 10px;
  }
}
.main__text {
  font-weight: 500;
}
.main__about {
  font-size: 30px;
  text-align: center;
  margin: 40px 0px 24px 0px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  position: relative;
}
.guarantees__image {
  float: left;
  max-width: 165px;
  margin: 0px 15px 3px 0px;
}
.guarantees__image img {
  max-width: 100%;
}
@media (max-width: 400px) {
  .guarantees__image {
    max-width: 135px;
  }
}
@media (max-width: 350px) {
  .guarantees__image {
    max-width: 110px;
  }
}

.text-guarantees {
  line-height: 1.5;
  letter-spacing: 0.9;
}

.about-main__image {
  float: left;
  max-width: 210px;
  max-height: 210px;
  margin-right: 20px;
  margin-bottom: 5px;
  position: relative;
  top: 10px;
}
.about-main__image img {
  max-width: 100%;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  .about-main__image {
    max-width: 150px;
    max-height: 150px;
  }
}
@media (max-width: 400px) {
  .about-main__image {
    max-width: 100px;
    max-height: 100px;
  }
}
.about-main__text span {
  font-weight: 700;
}

.contacts {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 40px 0 24px;
}
.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 650px) {
  .contacts__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}
.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
}
@media (max-width: 650px) {
  .contacts__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
  }
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 30px 0px;
}
.contacts__icon {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}
.contacts__icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.contacts__info {
  padding: 0px 0px 0px 25px;
  max-width: 262px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.contacts__info a {
  color: #337ab7;
}
.contacts__info a:hover {
  text-decoration: underline;
}
@media (max-width: 400px) {
  .contacts__info a {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .contacts__info {
    padding: 0px 0px 0px 15px;
  }
}