// Обнуление

@import "nulllist.scss";

// Шрифты
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
// Стили для демонстрации

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	width: 100%;
}

.container{
	// max-width: 830px;
	// margin: 0px auto;
	// padding: 0 15px;
}

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        display: none;
    }
}

.title {
	font-weight: 700;
	font-size: 46px;
	text-align: center;
	margin: 0px 0px 24px 0px;
	
	// text-transform: capitalize;
}
.subtitle {
	font-style: italic;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	padding: 0px 0px 24px 0px;
	line-height: 1.2;
	span{
		text-decoration: underline;
	}
	
}
.text {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 28px;
	p{
		margin: 0px 0px 15px 0px;
	}
}
.name-list {
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: 500;

}
.list {

	li{
		font-family: 'Roboto', sans-serif;
	    font-size: 20px;
	    line-height: 1;
	    position: relative;
	    padding: 7px 0px 7px 30px;
	    &:before{
	    	content: '';
	    	position: absolute;
	    	width: 10px;
	    	height: 2px; 	
	    	background-color: #DDAB53;
	    	top: 50%;
	    	transform: translate3d(0, -50%, 0);
	    	left: 0;
	    	 
	    }
	    &:after{
	    	content: '';
	    	position: absolute;
	    	width: 0;
	    	height: 0;
	    	left: 10px;
	    	top: 50%;	    	
	    	transform: translate3d(0, -50%, 0);
	    	border-top: 5px solid transparent;
	    	border-left: 10px solid #DDAB53;
	    	border-bottom: 5px solid transparent;
	    }
	}
}

.attention {
	margin: 0px 0px 15px 0px;
	span{
	    background-color: #ffeda6;
	    font-family: 'Roboto', sans-serif;
	    font-size: 21px;
	    line-height: 28px;

	}
}
.propouse {
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: 500;
}


// Основные стили
.page {
	
	padding: 20px 0px;
	max-width: 910px;
	padding: 20px 15px;
	margin: 100px auto 0px auto;
	&__row{
		display: flex;
		flex-direction: row-reverse;
		@media (max-width:768px){
			display: block;
		}
	}
	
}

.main {
	flex: 1 1 auto;
	padding: 0px 0px 0px 40px;
	@media (max-width:768px){
		padding: 0px 0px 0px 0px;
	}
}

.secondary {
	flex: 0 0 165px;

	&__image {
		height: 165px;
		width: 165px;
		border-radius: 50%;
		border: 5px solid #DDAB53;
		overflow: hidden;
		img{
			max-width: 100%;
		}
		&_s{
			@media (max-width:768px){
				margin: 0px auto;
			}
		}
	}
	&__author{
		font-family: 'Oswald', sans-serif;
		text-align: center;
		font-weight: 300;
		font-size: 1.2rem;
		margin: 10px 0px 40px 0px;
	}
	@media (max-width:768px){
		display: none;
	}
	&_s{
		display: none;
		@media (max-width:768px){
			display: block;			

		}
	}
}
.main {
	&__list-name {
		margin: 0px 0px 15px 0px;
		&_s{
			margin: 25px 0 15px;	
		}
	}
	&__list {
		&_s{
			li:last-child{
				&:before,
				&:after{
					top: 25%;
				}
			}

		}
	}
}

.main {
	&__subtitle {
		&_s {
			
			margin: 35px 0px;
			border: 5px solid #DDAB53;
			padding: 20px;
			@media (max-width:450px){
				font-size: 20px;
				padding: 12px;
			}
		}
	}
	&__attention {
		margin: 50px 0px;
	}
	&__propouse {
		margin: 0px 0px 20px 0px;
	
	}
	&__numlist {
		counter-reset: myCounter;
		li{
		margin: 20px 0;
		font-family: 'Roboto', sans-serif;
	    font-size: 20px;
	    line-height: 28px;
	    list-style: none;
	    position: relative;
	    padding: 0px 0px 0px 45px;

	     span{
				font-size: 24px;
				position: relative;
				padding: 0px 0px 0px 10px;
				&:after{
					content: '';
					position: absolute;
					width: 120%;
					height: 2px;
					background-color: red;
					left: 0%;
					top: 50%;
				}
			}
		s{
			font-size: 25px;
			margin: 0px 0px 0px 2px;
			
		}
		&:before{
			content: '';
			position: absolute;
			counter-increment: myCounter;
            content:counter(myCounter);
            color: white;
            background-color: #DDAB53;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            left: 0;                     
            line-height: 30px;
            width: 30px;
            height: 30px;
		}
		}


	}
	&__btn {
		background-color: #b99a5d;
		transition: all 0.5s ease 0s;
		padding: 20px;
		width: 100%;
		text-align: center;
		display: block;
		margin: 50px 0px;
		color: #fff;
		font-size: 20px;
		&:hover{
			background-color: #ff9900;
			text-decoration: underline;
			
			
		}
		@media (max-width:350px){
			padding: 10px;
		}
	}
	&__text {
		font-weight: 500;
	}
	&__numlist {}
	&__about {
		font-size: 30px;
		text-align: center;
		margin: 40px 0px 24px 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		position: relative;
	}
	&__contacts {}
}

.guarantees{	
	&__body{}
	&__image{
		float: left;
		max-width: 165px;
		margin: 0px 15px 3px 0px;
		img{
			max-width: 100%;
		}
		@media (max-width:400px){
			max-width: 135px;
		}
		@media (max-width:350px){
			max-width: 110px;
		}
	}
}
.text-guarantees{
	line-height: 1.5;
	letter-spacing: 0.9;
}


.about-main {
	&__image {
		float: left;
		max-width: 210px;
		max-height: 210px;
		margin-right: 20px;
		margin-bottom: 5px;
		position: relative;
		top: 10px;
		img{
			max-width: 100%;
			transform: scale(-1,1);
			box-shadow: -2px 2px 5px rgba(0,0,0,0.4);
			border: 1px solid rgba(0,0,0,0.2);


		}
		@media (max-width:500px){
			max-width: 150px;
		max-height: 150px;
		}
		@media (max-width:400px){
			max-width: 100px;
		max-height: 100px;
		}
	}
	&__text {
		span{
			font-weight: 700;
		}
	}
}


	

.contacts {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding: 40px 0 24px;
	&__row {
		display: flex;
		margin: 0 -10px;
		@media (max-width:650px){
			flex-wrap: wrap;
			margin: 0;
		}
	}
	&__column {
		flex: 0 1 50%;
		padding: 0 10px;
		@media (max-width:650px){
			flex: 0 1 100%;
			padding: 0;
		}
	}
	&__item {
		display: flex;
		padding: 0px 0px 30px 0px;
	}
	&__icon {
		position: relative;
		flex: 0 0 40px;

		img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
	&__info {
		padding: 0px 0px 0px 25px;
		max-width: 262px;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 1.5;
		flex: 1 1 auto;
		a{
			color: #337ab7;
			&:hover{
				text-decoration: underline;
			}
			@media (max-width:400px){
				font-size: 18px;
			}
		}
		@media (max-width:350px){
			padding: 0px 0px 0px 15px;
		}
	}
}


