@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Lato";
}
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 0px auto;
  max-width: 1130px;
  padding: 0 15px;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  padding: 104px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .slick-dots {
    padding: 50px 0px 0px 0px;
  }
}

.slick-dots li {
  margin: 0 4.5px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #c8c8c8;
  overflow: hidden;
}

/* Элемент точки */
.slick-dots li button {
  list-style: none;
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}

.block {
  text-align: center;
  position: relative;
}
.block:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.text {
  text-align: justify;
  font-family: Lato;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__body {
  height: 85px;
  position: relative;
  margin: 35px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  z-index: 2;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    z-index: 2;
    right: 15px;
  }
  .header__burger:after, .header__burger:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    top: 50%;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .header__burger.active:after {
    bottom: 9px;
    -webkit-transform: rotate(320deg);
        -ms-transform: rotate(320deg);
            transform: rotate(320deg);
  }
  .header__burger.active:before {
    top: 9px;
    -webkit-transform: rotate(-320deg);
        -ms-transform: rotate(-320deg);
            transform: rotate(-320deg);
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #f3f4fb;
    padding: 150px 0px 0px 0px;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
}
.header__link {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  margin: 0 35px;
  position: relative;
}
.header__link:nth-child(2) {
  margin: 0 110px 0 35px;
}
.header__link:nth-child(3) {
  margin: 0 35px 0 110px;
}
.header__link:after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -3px;
  left: -1px;
  height: 2px;
  background-color: #4d4959;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.header__link:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  bottom: 0;
  right: -35px;
}
@media (max-width: 768px) {
  .header__link:before {
    right: 50%;
    bottom: -16px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
}
.header__link:nth-child(2):before, .header__link:nth-child(4):before {
  display: none;
}
@media (max-width: 768px) {
  .header__link:nth-child(2):before {
    display: block;
  }
}
.header__link:hover:after {
  width: 100%;
}
@media (max-width: 768px) {
  .header__link {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 30px 0px;
  }
  .header__link:nth-child(2) {
    margin: 0px 0px 30px 0px;
  }
  .header__link:nth-child(3) {
    margin: 0px 0px 30px 0px;
  }
}

.full-screen {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.full-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  background-color: #f7f7f7;
  padding: 117px 0 142px;
  text-align: center;
}
@media (max-width: 768px) {
  .generation {
    padding: 70px 0;
  }
}
.generation__icon {
  margin: 0px 0px 34px 0px;
}
.generation__title {
  margin: 0px 0px 35px 0px;
}
.generation__text {
  text-align: center;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .brands__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.brands__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
@media (max-width: 1000px) {
  .brands__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0px 0px 70% 0px;
  }
}
.brands__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 1000px) {
  .brands__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.brands-second__content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1000px) {
  .brands-second__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.brands-second__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1000px) {
  .brands-second__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.brands-last__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 1000px) {
  .brands-last__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.brands-last__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 1000px) {
  .brands-last__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.image-brands {
  position: relative;
}
.image-brands__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.image-brands__cover img {
  display: block;
}
.image-brands:hover .image-brands__cover {
  opacity: 1;
  visibility: visible;
}

.content-brands__image {
  padding: 0px 0px 37.502% 0px;
}

.vintage-block {
  padding: 40px 35px 30px;
}
@media (max-width: 1300px) {
  .vintage-block {
    padding: 50px 25px 70px;
  }
}
@media (max-width: 1100px) {
  .vintage-block {
    padding: 35px 20px 50px;
  }
}
.vintage-block__icon {
  margin: 0px 0px 31px 0px;
}
.vintage-block__title {
  margin: 0px 0px 26px 0px;
}
.vintage-block__text {
  padding: 0px 0px 30px 0px;
  position: relative;
  font-size: 16px;
  line-height: 30px;
}
.vintage-block__text:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.slider-block {
  padding: 124px 0 68px;
  text-align: center;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .slider-block {
    padding: 60px 0 40px;
  }
}

.slider__icon {
  padding: 0px 0px 37px 0px;
}
.slider__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  padding: 0px 0px 27px 0px;
}
.slider__title span {
  font-weight: 300;
  color: #848789;
}
.slider__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
@media (max-width: 768px) {
  .slider__text {
    font-size: 20px;
    line-height: 30px;
  }
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
}

.column-shop__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.column-shop__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-block {
  padding: 75px 0;
  background-color: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 450px) {
  .btn-block {
    padding: 40px 0;
  }
}

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 20px 56px;
  border: 1px solid #fff;
}
@media (max-width: 450px) {
  .btn {
    padding: 20px 45px;
  }
}

.stay {
  padding: 110px 0;
  text-align: center;
}
@media (max-width: 450px) {
  .stay {
    padding: 40px 0;
  }
}
.stay__logo {
  padding: 0px 0px 40px 0px;
}
.stay__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 0px 0px 35px 0px;
}
.stay__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stay__cnt {
  max-width: 570px;
  margin: 0px auto;
  padding: 0 15px;
}

.form-stay__item {
  padding: 28px;
  border: 1px solid #d3d7d9;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
@media (max-width: 450px) {
  .form-stay__item {
    padding: 15px;
  }
}
.form-stay__item::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.form-stay__item::-moz-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.form-stay__item:-ms-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.form-stay__item::-ms-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.form-stay__item::placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
@media (max-width: 450px) {
  .form-stay__item::-webkit-input-placeholder {
    font-size: 16px;
  }
  .form-stay__item::-moz-placeholder {
    font-size: 16px;
  }
  .form-stay__item:-ms-input-placeholder {
    font-size: 16px;
  }
  .form-stay__item::-ms-input-placeholder {
    font-size: 16px;
  }
  .form-stay__item::placeholder {
    font-size: 16px;
  }
}
.form-stay__item:focus::-webkit-input-placeholder {
  opacity: 0;
}
.form-stay__item:focus::-moz-placeholder {
  opacity: 0;
}
.form-stay__item:focus:-ms-input-placeholder {
  opacity: 0;
}
.form-stay__item:focus::-ms-input-placeholder {
  opacity: 0;
}
.form-stay__item:focus::placeholder {
  opacity: 0;
}
.form-stay__btn {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  background-color: #64c29e;
  padding: 0 45px;
  margin: 0px 0px 0px 8px;
}
@media (max-width: 450px) {
  .form-stay__btn {
    padding: 0 20px;
    font-size: 18px;
  }
}

.footer {
  padding: 100px 0;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 0;
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .footer__row {
    display: block;
    text-align: center;
  }
}
.footer__text {
  font-size: 13.9px;
  font-weight: 400;
  line-height: 17px;
  font-style: italic;
  color: #848789;
}
@media (max-width: 768px) {
  .footer__text {
    margin: 0px 0px 20px 0px;
    font-size: 16px;
    line-height: 25px;
  }
}
.footer__text span {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}
@media (max-width: 768px) {
  .footer__icons {
    margin: 0px 0px 20px 0px;
  }
}
.footer__icon {
  margin: 0 7.5px;
}
.footer__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13.9px;
  line-height: 17px;
  font-style: italic;
  color: #848789;
}
.footer__lable span {
  padding: 0px 9px 0px 0px;
}